@if (pageConfig$ | async; as pageData) {
    <div>
        @for (component of pageData.body; track $index) {
            @if (component.name) {
                @switch (component.name.toLowerCase()) {
                    @case ('hero-section') {
                        <ng-container
                            *ngTemplateOutlet="
                                heroSection;
                                context: { data: component }
                            "
                        ></ng-container>
                    }
                    @case ('section-intro') {
                        <ng-container
                            *ngTemplateOutlet="
                                sectionIntro;
                                context: { data: component }
                            "
                        ></ng-container>
                    }
                    @case ('category-progress') {
                        <ng-container
                            *ngTemplateOutlet="
                                categoryProgress;
                                context: { data: component }
                            "
                        ></ng-container>
                    }
                }
            }
        }
    </div>
}

<ng-template #heroSection let-data="data">
    @if (data?.props; as props) {
        @defer (on immediate) {
            <lib-hero-section
                [title]="props.title"
                [subtitle]="props.subtitle"
                [text]="props.text"
                [buttons]="props.buttons"
            ></lib-hero-section>
        }
    }
</ng-template>

<ng-template #sectionIntro let-data="data">
    @if (data?.props; as props) {
        @defer (on immediate) {
            <lib-section-intro
                [pretitle]="props.pretitle"
                [title]="props.title"
                [subtitle]="props.subtitle"
                [text]="props.text"
                [button]="props.button"
            ></lib-section-intro>
        }
    }
</ng-template>

<ng-template #categoryProgress let-data="data">
    @if (data?.props; as props) {
        @defer (on immediate) {
            <lib-category-progress
                [pretitle]="props.pretitle"
                [title]="props.title"
                [categories]="props.categories"
            ></lib-category-progress>
        }
    }
</ng-template>