:host {
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 55px);
  padding-top: 55px;
}

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 55px;
}