@if (header$ | async; as headerComponent) {
  @if (headerComponent?.props; as props) {
    <div class="header-container">
      @if (!screen.isXs()) {
        <lib-header-clear
          [lang]="props.lang"
          [navItems]="props.navItems"
          (langModal)="openLanguagesModal()"
        ></lib-header-clear>
      }
      @if (screen.isXs()) {
        <lib-header-mobile
          [lang]="props.lang"
          [navItems]="props.navItems"
          (langModal)="openLanguagesModal()"
        ></lib-header-mobile>
      }
    </div>
  }
}

<main>
  <ng-content></ng-content>
</main>
