:root {
  //Fonts
  --font-titles: 'Bebas Neue', system-ui, sans-serif;
  --font-base: 'Montserrat', sans-serif;
  --font-size-base: 16px;
  
  //Spacings
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;
}

:root,
:root[data-theme="light"] {
  color-scheme: light;

  //Colors
  --color-primary: #0a0a0a;
  --color-secondary: #C6E030;
  --color-text: #0a0a0a;
  --color-bg: #C6E030;

  //Buttons
  --button-primary-bg: #C6E030;
  --button-primary-text: #0a0a0a;
  --button-primary-bg-hover: #0a0a0a;
  --button-primary-text-hover: #C6E030;

  --button-secondary-bg: #0a0a0a;
  --button-secondary-text: #f9f9f9;
  --button-secondary-bg-hover: #000000;
  --button-secondary-text-hover: #C6E030;

  --button-link-text: #0a0a0a;
  --button-link-text-hover: #0a0a0a;

  //Headers
  --header-clear-bg: #C6E030;
  --header-mobile-bg: #C6E030;
  --header-logo-text: #0a0a0a;

  //Modals
  --modal-bg: #C6E030;
  --close-btn: #0a0a0a;
  --item-text: #0a0a0a;

  //Progress bar
  --progress-color: #0a0a0a;
  --progress-bg: #d7ddb4;
}

:root[data-theme="dark"] {
  color-scheme: dark;

  //Colors
  --color-primary: #C6E030;
  --color-secondary: #0a0a0a;
  --color-text: #C6E030;
  --color-bg: #0a0a0a;

  //Buttons
  --button-primary-bg: #0a0a0a;
  --button-primary-text: #C6E030;
  --button-primary-bg-hover: #C6E030;
  --button-primary-text-hover: #0a0a0a;

  --button-secondary-bg: #C6E030;
  --button-secondary-text: #f9f9f9;
  --button-secondary-bg-hover: #C6E030;
  --button-secondary-text-hover: #0a0a0a;

  --button-link-text: #C6E030;
  --button-link-text-hover: #C6E030;

  //Headers
  --header-clear-bg: #0a0a0a;
  --header-mobile-bg: #0a0a0a;
  --header-logo-text: #C6E030;

  //Modals
  --modal-bg: #0a0a0a;
  --close-btn: #C6E030;
  --item-text: #C6E030;

  //Progress bar
  --progress-color: #C6E030;
  --progress-bg: #cfcfcf;
}