@font-face {
  font-family: "amador-w01-regular";
  font-display: swap;
  src:
    url("assets/fonts/amador-w01-regular.woff2") format("woff2"),
    url("assets/fonts/amador-w01-regular.woff") format("woff");
}
@font-face {
  font-family: "podium-soft-demibold";
  font-display: swap;
  src:
    url("assets/fonts/PODIUMSoft-DemiBold.woff2") format("woff2"),
    url("assets/fonts/PODIUMSoft-DemiBold.woff") format("woff");
}
@font-face {
  font-family: "ppneuemontreal-book";
  font-display: swap;
  src:
    url("assets/fonts/ppneuemontreal-book.woff2") format("woff2"),
    url("assets/fonts/ppneuemontreal-book.woff") format("woff");
}

:root {
  //Fonts
  --font-title-home: "amador-w01-regular", sans-serif;
  --font-titles: "podium-soft-demibold", sans-serif;
  --font-base: "ppneuemontreal-book", sans-serif;
  --font-size-base: 16px;

  //Spacings
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;

  //Border
  --border-radius: 0px;
}

:root,
:root[data-theme="light"] {
  color-scheme: light;

  //Colors
  --color-primary: #0a0a0a;
  --color-secondary: #c6e030;
  --color-text: #0a0a0a;
  --color-bg: #c6e030;

  //Buttons
  --button-primary-bg: #c6e030;
  --button-primary-text: #0a0a0a;
  --button-primary-bg-hover: #0a0a0a;
  --button-primary-text-hover: #c6e030;

  --button-primary-outline-border: #0a0a0a;
  --button-primary-outline-text: #0a0a0a;
  --button-primary-outline-bg-hover: #0a0a0a;
  --button-primary-outline-text-hover: #c6e030;

  --button-secondary-bg: #0a0a0a;
  --button-secondary-text: #f9f9f9;
  --button-secondary-bg-hover: #000000;
  --button-secondary-text-hover: #c6e030;

  --button-link-text: #0a0a0a;
  --button-link-text-hover: #0a0a0a;

  --button-header-bg: #c6e030;
  --button-header-text: #0a0a0a;
  --button-header-bg-hover: #0a0a0a11;
  --button-header-text-hover: #0a0a0a;

  //Headers
  --header-clear-bg: #c6e030;
  --header-mobile-bg: #c6e030;
  --header-logo-text: #0a0a0a;

  //Modals
  --modal-bg: #c6e030;
  --close-btn: #0a0a0a;
  --item-text: #0a0a0a;

  //Progress bar
  --progress-color: #0a0a0a;
  --progress-bg: #0a0a0a11;

  //Tags
  --tag-color: #0a0a0a;
  --tag-bg: #0a0a0a11;
}

:root[data-theme="dark"] {
  color-scheme: dark;

  //Colors
  --color-primary: #c6e030;
  --color-secondary: #0a0a0a;
  --color-text: #c6e030;
  --color-bg: #0a0a0a;

  //Buttons
  --button-primary-bg: #0a0a0a;
  --button-primary-text: #c6e030;
  --button-primary-bg-hover: #c6e030;
  --button-primary-text-hover: #0a0a0a;

  --button-primary-outline-border: #c6e030;
  --button-primary-outline-text: #c6e030;
  --button-primary-outline-bg-hover: #c6e030;
  --button-primary-outline-text-hover: #0a0a0a;

  --button-secondary-bg: #c6e030;
  --button-secondary-text: #f9f9f9;
  --button-secondary-bg-hover: #c6e030;
  --button-secondary-text-hover: #0a0a0a;

  --button-link-text: #c6e030;
  --button-link-text-hover: #c6e030;

  --button-header-bg: #0a0a0a;
  --button-header-text: #c6e030;
  --button-header-bg-hover: #c5e03046;
  --button-header-text-hover: #c6e030;

  //Headers
  --header-clear-bg: #0a0a0a;
  --header-mobile-bg: #0a0a0a;
  --header-logo-text: #c6e030;

  //Modals
  --modal-bg: #0a0a0a;
  --close-btn: #c6e030;
  --item-text: #c6e030;

  //Progress bar
  --progress-color: #c6e030;
  --progress-bg: #c5e03046;

  //Tags
  --tag-color: #c6e030;
  --tag-bg: #c5e03046;
}
